.container-fluid{
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 150px;
}

div > table{
    border:2;
    width:665;
    height:450; 
    border-spacing:1;
    border:solid 5px #ff0000;
    text-align:center;
}

table > td{
    border-spacing:1;
    border:solid 1px #ff0000;
    text-align:center;
}

.flex-container{
    box-sizing: border-box;
}

.main-container{
    box-sizing: border-box;
}

img{
    box-sizing: border-box;
}

#padd #p_email{
    width:400px;
}

button{
    width: 150px;
    height: 50px;
    display: table;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


