.main-container{
    max-width: 500px;
    max-height: 500px;
}
.container-fluid{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

#main{
    width: 70%;
    height: 70%;
}

img{
    width: 90%;
    height: 90%;
}

button{
    width: 150px;
    height: 50px;
    display: table;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}