/*전체 css */

#header {
    position: sticky;
    top:0;
}

*{ box-sizing: border-box; width: 100%;}


body {background-color: #E6E6E6;}

/* border-spacing: 표 칸의 테두리 간격 지정.*/
table{margin-top: 200px; width: 1100px;  margin-left: auto; margin-right: auto; box-shadow: rgb(0 0 0 / 30%) 0px 2px 12px;
    border-spacing: 50px;}
    

/*사용설명서*/
table, th, tr, td, p, span, strong{background-color: white;}
.guide_header{height: 200px;}
.guide_title{text-align: center; font-size: 50px; font-weight:700;}

/*사용설명서 내용*/
/*tr(class="guide_datail") : 행*/
.guide_detail{width:600px;  height: 300px; margin-bottom: 20%;}

/*이미지 class 이름 */
.guide_image{width:100%;  margin-right: auto; height: 400px;} 

/*td : 열*/
td{text-align: left; margin:auto; padding-top: 0px; padding-bottom: 0px; width:500px; }
.guide_contents{padding-left: 5%;}
strong{font-size: 25px;}
p{font-size: 15px; margin-top: auto;}
span{font-weight: 800;}