
/*header css*/


#navbar{background-color: #95B6E7;}
.title{background-color: #95B6E7; width: 100%; height: 120px; position: fixed;
     top:0px; right: 0px; left:0px; display: flex; justify-content: center;
}
.menu{ background-color: #95B6E7; margin-top: 20px; width: 70%; width:100%; height: 100%; 
     display: flex; justify-content: space-around; } 
.dash_menu{background-color: #95B6E7; width:30%;  height: 50%;}
.supply_menu{background-color: #95B6E7; width:30%; height: 50%;}
.logo{background-color: #95B6E7; width:30%;  height: 50%;}
.info{background-color: #95B6E7; width:30%;  height: 50%;}
/*a{background-color: #95B6E7;}*/