
/*header css*/


#navbar{background-color: #95B6E7;}
.title{background-color: #95B6E7; width: 100%; height: 120px; position: fixed;
     top:0px; right: 0px; left:0px; display: flex; justify-content: center;
}
.menu{ background-color: #95B6E7; margin-top: 20px; width: 70%; width:100%; height: 100%; 
     display: flex; justify-content: space-around; } 

.dash_menu{background-color: #95B6E7; width:50%;  height: 40%; padding-top: 10px;}
.supply_menu{background-color: #95B6E7; width:40%; height: 40%;padding-top: 10px;}
.logo{background-color: #95B6E7; width:30%;  height: 40%; padding-top: 10px;}
.info{background-color: #95B6E7; width:40%;  height: 40%; padding-top: 10px;}
.abox{background-color: #95B6E7; display: flex; justify-content: center;}
.empty{background-color: #95B6E7;}