<!DOCTYPE html>
<html>
  <head>
    <title>사용설명서</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/header.css">  
  </head>

  <body>

    <header>
      <div class="title">
          <a href="http://192.168.2.23:80/"><img  src="../static/dev_img/logo.PNG" class="logo"></a>
          <!-- <a href=""><h3 class="info">사용설명서</h3></a> -->
          <a href="http://192.168.2.23:80/guide"><img src="../static/dev_img/info.PNG" class="info"></a>
      </div>
    </header>

    <p>사용 설명서</p>
    <h1></h1>
  </body>
</html>