<!DOCTYPE html>
<html>

<head>
  <title>홈페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/header.css">  
</head>

  <body>
          
    <header id="navbar">
        <div class="title">
          <div class="menu">
            <a href="http://192.168.187.1:80/"><img  src="../static/dev_img/logo.PNG" class="logo"></a>
            <a href="http://192.168.187.1:80/supply_db"><img  src="../static/dev_img/supply_menu.PNG" class="supply_menu"></a>
            <a href="http://192.168.187.1:80/dashboard"><img  src="../static/dev_img/dashboard_menu.PNG" class="dash_menu"></a>
            <a href="http://192.168.187.1:80/guide"><img src="../static/dev_img/info.PNG" class="info"></a>
          </div>    
        </div>
    </header>
  </body>
</html>