<!DOCTYPE html>
<html>

<head>
  <title>홈페이지</title>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

  <body>
          
    <header>
        <div class="title">
            <a href=""><img  src="../static/dev_img/logo.PNG" class="logo"></a>
            <!-- <a href=""><h3 class="info">사용설명서</h3></a> -->
            <a href=""><img src="../static/dev_img/info.PNG" class="info"></a>
        </div>
    </header>
    
    <div class="main_contents">
        <p class="contents1">PSB</p>
        <p class="contents2">세금계산서를 바로 그래프로!</p>
        <img src="../static/dev_img/sample.PNG" class="main_image"> 
        <div>
          <form name="form" id="form" action="http://192.168.187.1:80/uploader" method="POST" enctype="multipart/form-data">
            <div class="filebox">
                <label for="file">Click to upload</label>
                <input type=file name=file id="file" accept="image/*"/>
            </div>
            <input type = "submit"/>
          </form>
        </div>
    </div>


  </body>
</html>