<!DOCTYPE html>
<html>
  <head>
    <title>서비스페이지</title>
   <link rel="stylesheet" href="../static/css/home.css">
   <link rel="stylesheet" href="../static/css/header.css">  
 </head>

  <body>
    
    {% include 'header.html' %}
    
    <!-- <form action = "http://192.168.187.1:80/uploader" method = "POST" enctype = "multipart/form-data">
      <input type = "file" name = "file" />
      <input type = "submit"/>
    </form> -->
    
    <!-- 이미지 미리보기 관련한 코드임 -->
    <!-- <form name="form" id="form" action="http://localhost:80/uploader" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="filebox">
            <label for="cma_file">사진 인증샷 업로드</label>
            <input type="file" name="cma_file" id="cma_file" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#cma_image'))" />
            <br /><br />
            <div id="cma_image" style="width:30%;max-width:30%;border:1px solid #000;display:none;"></div>
        </div>
        <input type = "submit"/>
    </form> -->
    <div>
      <img src="{{url_for('static', filename=image_file)}}">
    </div>
    <p>입력한 이미지가 들어감 <p>
    <p>텍스트 테이블이 들어감</p>
  </body>
</html>