<!DOCTYPE html>
<html>

    <head>
    <title>홈페이지</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/supply.css">
        <link rel="stylesheet" href="../static/css/header.css">  

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    </head>

  <body>

    {% include 'header.html' %}

    <div class="supply_contents">
        <div class="supply_inner_box">
            <table id="supply_table" class="table table-hover">
                <thead>
                  <tr id="supply_title">
                    <th class="sup_num">등록번호</th>
                    <th class="sup_corp_num">종사업장번호</th>
                    <th class="sup_corp_name">상호(법인명)</th>
                    <th class="sup_ceo_name">성명</th>
                    <th class="sup_corp_add">사업장주소</th>
                    <th class="sup_corp_stat">업태</th>
                    <th class="sup_corp_type">종목</th>
                    <th class="sup_corp_email">이메일주소</th>
                  </tr>
                </thead>
                <tbody>
                  {% for idx in resultData %}
                    <tr>
                      <td class="sup_num">{{ idx.p_id }}</td>
                      <td class="sup_corp_num">{{ idx.p_corp_num }}</td>
                      <td class="sup_corp_name"><a href="{{ url_for('select_sup_desc', p_id=idx.p_id) }}">{{ idx.p_corp_name }}</a></td>
                      <td class="sup_ceo_name">{{ idx.p_ceo_name }}</td>
                      <td class="sup_corp_add">{{ idx.p_add }}</td>
                      <td class="sup_corp_stat">{{ idx.p_stat}}</td>
                      <td class="sup_corp_type">{{ idx.p_type }}</td>
                      <td class="sup_corp_email">{{ idx.p_email}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
               </table>

        </div>
    </div>


  
  </body>
</html>