<html>
    <head>
        <link rel="stylesheet" href="../static/css/ocr1.css">
    </head>

    <body>
        
        <header>
            <div class="title">
                <a href=""><img  src="../static/img/logo.PNG" class="logo"></a>
                <!-- <a href=""><h3 class="info">사용설명서</h3></a> -->
                <a href=""><img src="../static/img/info.PNG" class="info"></a>
            </div>
        </header>
        
        <div class="main_contents">
            <p class="contents1">PSB</p>
            <p class="contents2">전산세금계산서를 텍스트로 보여주는 서비스를 제공합니다.</p>
            <img src="../static/img/sample.PNG" class="main_image"> 
            
        </div>
       
         

    </body>


</html>