<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/header.css">
<link rel="stylesheet" href="../static/css/con_base.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>

<head>
  <title>홈페이지</title>
</head>


<body>
  {% include 'header.html' %}
  <form method="POST" , action="/check_done">
    <div class='container-main'>
      <div class="container-fluid">
        <div class="flex-container">
          <img src="{{url_for('static', filename='/image/'+upfilename)}}">
        </div>
        <div class="main-container">
          <table id="main" class="table table-striped"> 
            <tbody class="table1"> 
              <tr>
                <th scope="row">승인번호</th>
                <td><input name="b_id" type="text" value="{{word_spot_dict.t_bill.b_id.text}}" /></td>
              </tr> 
              <tr>
                <th scope="row">등록번호</th>
                <td><input type="text" , name="p_id" , value="{{word_spot_dict.t_provider.p_id.text}}" /></td>
                <th scope="row">종사업장번호</th>
                <td><input type="text" , name="p_corp_num" , value="{{word_spot_dict.t_provider.p_corp_num.text}}"/></td>
              </tr>
              <tr>
                <th scope="row">상호</th>
                <td><input type="text" , name="p_corp_name" , value="{{word_spot_dict.t_provider.p_corp_name.text}}" /></td>
                <th scope="row">성명</th>
                <td><input type="text" , name="p_ceo_name" , value="{{word_spot_dict.t_provider.p_ceo_name.text}}" /></td>
              </tr>
              <tr>
                <th scope="row">사업장 주소</th>
                <td><input type="text" , name='p_add' , value="{{word_spot_dict.t_provider.p_add.text}}" /></td>
              </tr>
              <tr>
                <th scope="row">업태</th>
                <td><input type="text" , name='p_stat' , value="{{word_spot_dict.t_provider.p_stat.text}}" /></td>
                <th scope="row">종목</th>
                <td><input type="text" , name='p_type' , value="{{word_spot_dict.t_provider.p_type.text}}" /></td>
              </tr>
              <tr>
                <th scope="row">이메일</th>
                <td><input type="text" , name='p_email' , value="{{word_spot_dict.t_provider.p_email.text}}" /></td>
              </tr>
            </tbody>
            <tbody class="table2">
              <tr>
                <th scope="row">작성일자</th>
                <th scope="row">공급가액</th>
                <th scope="row">세액</th>
                <th scope="row">수정사유</th>
                <th scope="row">비고</th>
              </tr>
              <tr>
                <td><input type="date" , name='b_date' , value="{{word_spot_dict.t_bill.b_date.text}}" /></td>
                <td><input type="text" , name='b_cost_sup' , value="{{word_spot_dict.t_bill.b_cost_sup.text}}" /></td>
                <td><input type="text" , name='b_cost_tax' , value="{{word_spot_dict.t_bill.b_cost_tax.text}}" /></td>
                <td><input type="text" , name='b_mr' , value="{{word_spot_dict.t_bill.b_mr.text}}" /></td>
                <td><input type="text" , name='b_etc' , value="{{word_spot_dict.t_bill.b_etc.text}}" /></td>
              </tr>
            </tbody>
            <tbody class="table3">
              <tr>
                <th scope="row">품목</th>
                <th scope="row">규격</th>
                <th scope="row">수량</th>  
                <th scope="row">단가</th>
                <th scope="row">공급가액</th>
                <th scope="row">세액</th>
              </tr>
              <tr>
                <td><input type="text" , name='i_name_1' , value="{{word_spot_dict.t_item_1.i_name.text}}" /></td>
                <td><input type="text" , name='i_stand_1' , value="{{word_spot_dict.t_item_1.i_stand.text}}" /></td>
                <td><input type="text" , name='i_quan_1' , value="{{word_spot_dict.t_item_1.i_quan.text}}" /></td>
                <td><input type="text" , name='i_unit_1' , value="{{word_spot_dict.t_item_1.i_unit.text}}" /></td>
                <td><input type="text" , name='i_sup_1' , value="{{word_spot_dict.t_item_1.i_sup.text}}" /></td>
                <td><input type="text" , name='i_tax_1' , value="{{word_spot_dict.t_item_1.i_tax.text}}" /></td>
              </tr>
              <tr>  
                <td><input type="text" , name='i_name_2' , value="{{word_spot_dict.t_item_2.i_name.text}}" /></td>
                <td><input type="text" , name='i_stand_2' , value="{{word_spot_dict.t_item_2.i_stand.text}}" /></td>
                <td><input type="text" , name='i_quan_2' , value="{{word_spot_dict.t_item_2.i_quan.text}}" /></td>
                <td><input type="text" , name='i_unit_2' , value="{{word_spot_dict.t_item_2.i_unit.text}}" /></td>
                <td><input type="text" , name='i_sup_2' , value="{{word_spot_dict.t_item_2.i_sup.text}}" /></td>
                <td><input type="text" , name='i_tax_2' , value="{{word_spot_dict.t_item_2.i_tax.text}}" /></td>
              </tr>
              <tr>
                <td><input type="text" , name='i_name_3' , value="{{word_spot_dict.t_item_3.i_name.text}}" /></td>
                <td><input type="text" , name='i_stand_3' , value="{{word_spot_dict.t_item_3.i_stand.text}}" /></td>
                <td><input type="text" , name='i_quan_3' , value="{{word_spot_dict.t_item_3.i_quan.text}}" /></td>
                <td><input type="text" , name='i_unit_3' , value="{{word_spot_dict.t_item_3.i_unit.text}}" /></td>
                <td><input type="text" , name='i_sup_3' , value="{{word_spot_dict.t_item_3.i_sup.text}}" /></td>
                <td><input type="text" , name='i_tax_3' , value="{{word_spot_dict.t_item_3.i_tax.text}}" /></td>
              </tr>
              <tr>
                <td><input type="text" , name='i_name_4' , value="{{word_spot_dict.t_item_4.i_name.text}}" /></td>
                <td><input type="text" , name='i_stand_4' , value="{{word_spot_dict.t_item_4.i_stand.text}}" /></td>
                <td><input type="text" , name='i_quan_4' , value="{{word_spot_dict.t_item_4.i_quan.text}}" /></td>
                <td><input type="text" , name='i_unit_4' , value="{{word_spot_dict.t_item_4.i_unit.text}}" /></td>
                <td><input type="text" , name='i_sup_4' , value="{{word_spot_dict.t_item_4.i_sup.text}}" /></td>
                <td><input type="text" , name='i_tax_4' , value="{{word_spot_dict.t_item_4.i_tax.text}}" /></td>
              </tr>
            </tbody>
            <tbody class="table4">
              <tr>
                <th scope="row">합계금액</th>
                <th scope="row">현금</th>
                <th scope="row">수표</th>
                <th scope="row">어음</th>
                <th scope="row">외상미수금</th>
              </tr>
              <tr>
                <td><input type="text" , name='b_cost_total' , value="{{word_spot_dict.t_bill.b_cost_total.text}}" />
                </td>
                <td><input type="text" , name='b_cost_cash' , value="{{word_spot_dict.t_bill.b_cost_cash.text}}" />
                </td>
                <td><input type="text" , name='b_cost_check' , value="{{word_spot_dict.t_bill.b_cost_check.text}}" />
                </td>
                <td><input type="text" , name='b_cost_note' , value="{{word_spot_dict.t_bill.b_cost_note.text}}" />
                </td>
                <td><input type="text" , name='b_cost_credit' , value="{{word_spot_dict.t_bill.b_cost_credit.text}}" />
                </td>
              </tr>
            </tbody>         
          </table>
        </div>
      </div>
    </div>
    <button type="submit">전송</button>
  </form>
</body>

</html>