<!DOCTYPE html>
<html>

<head>
  <title>홈페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>

  <header id="navbar">
    <div class="title">
      <div class="menu">
        <div class="empty"></div>
        <a class="abox" href="{{ url_for('home')}}">
          <img src="../static/dev_img/btn_home.png" class="logo"></a>
        <a class="abox" href="{{ url_for('select_sup')}}">
          <img src="../static/dev_img/btn_lookup.png" class="supply_menu"></a>
        <a class="abox" href="{{ url_for('dashboard',year_='2010')}}">
          <img src="../static/dev_img/btn_dashboard.png" class="dash_menu"></a>
        <a class="abox" href="{{ url_for('guide')}}">
          <img src="../static/dev_img/btn_manual.png" class="info"></a>
        <div class="empty"></div>
      </div>
    </div>
  </header>
</body>

</html>