{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
    <h2>insert provider</h2>
    <form method="POST" , action="/insert_provider">
        <input type="text" , name='p_id' , placeholder="p_id"> <br><br>
        <input type="text" , name='p_corp_num' , placeholder="p_corp_num"> <br><br>
        <input type="text" , name='p_corp_name' , placeholder="p_corp_name"> <br><br>
        <input type="text" , name='p_ceo_name' , placeholder="p_ceo_name"> <br><br>
        <input type="text" , name='p_add' , placeholder="p_add"> <br><br>
        <input type="text" , name='p_stat' , placeholder="p_stat"> <br><br>
        <input type="text" , name='p_type' , placeholder="p_type"> <br><br>
        <input type="text" , name='p_email' , placeholder="p_email"> <br><br>
        <input type="submit" , value='등록하기'>
    </form>
</div>
<div class="jumbo">
    <h2>insert bill</h2>
    <form method="POST" , action="/insert_bill">
        <input type="text" , name='b_id' , placeholder="b_id"> <br><br>
        <input type="date" , name='b_date'> <br><br>
        <input type="text" , name='b_mr' , placeholder="b_mr"> <br><br>
        <input type="text" , name='b_etc' , placeholder="b_etc"> <br><br>
        <input type="number" , name='b_cost_total' , placeholder="b_cost_total"> <br><br>
        <input type="number" , name='b_cost_sup' , placeholder="b_cost_sup"> <br><br>
        <input type="number" , name='b_cost_tax' , placeholder="b_cost_tax"> <br><br>
        <input type="number" , name='b_cost_cash' , placeholder="b_cost_cash"> <br><br>
        <input type="number" , name='b_cost_check' , placeholder="b_cost_check"> <br><br>
        <input type="number" , name='b_cost_note' , placeholder="b_cost_note"> <br><br>
        <input type="number" , name='b_cost_credit' , placeholder="b_cost_credit"> <br><br>
        <input type="text" , name='FK_p_id' , placeholder="FK_p_id"> <br><br>
        <input type="submit" , value='등록하기'>
    </form>
</div>
{% endblock %}