<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>
    <center>
        <h1>월별 거래총액 그래프</h1>
    </center>
    <center>
        <canvas id="myLineChart" width="500" height="500"></canvas>
        <script>
            var ctx = document.getElementById('myLineChart');
            const labels = ['1월','2월','3월','4월','5월','6월',
                            '7월','8월','9월','10월','11월','12월'];
            const data = {
                labels: labels,
                datasets: [{
                    label: '월별 거래 금액',
                    data: {{data|tojson}},
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            };
            var myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: false,
                    scales: {
                        yAxes:[{
                            scaleLabel: {
                            display: true,
                            labelString: '거래 총액(만원)'
                        },
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                }
            });
        </script>
    </center>
</body>